
.date-tick {
    stroke: black;
    stroke-width: 2;
}
.date-tick-1 {
    stroke-width: 1;
}

#citation_plot_wrapper {
    overflow: auto;
}

#citation_plot_dates {
    display: flex;
    justify-content: space-around;

    &>p {
        flex: 1 1 0;
        overflow: hidden;
        text-align: center;
    }
}

.paper_svg_display_rect {
    stroke: black;
    stroke-width: 1;
    fill: white;
}

.paper_svg_display_line {
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 5;
}

.timescale-horizontal-line{
    stroke: black;
    stroke-width: 1;
}

#citation_plot_svg {
    background-color: hsl(0, 0%, 95%);
}

#doiInput {
    width: 15em;
    border: 1px solid black;
}

.doi_list {
    list-style-type: none;
    padding: 0;

    &>li>* {
        display: inline;
    }
}