{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'references/style.css' %}">
{% endblock head %}

{% block nav %}
    <ul>
        <li><a href="{% url 'index' %}">Accueil</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'my_references' %}">Mes références</a></li>
            <li><a href="{% url 'my_refs_graph' %}">Mon graph</a></li>
        {% endif %}
    </ul>
    
    <hr>
    
    <ul>
        <li><a href="{% url 'publications_list' %}">Les publications</a></li>
    </ul>

    <hr>
    
    <ul>
        <li><a href="{% url 'authors_list' %}">Les auteurs</a></li>
        <li><a href="{% url 'authors_merge_select' %}">Combiner des auteurs</a></li>
    </ul>
{% endblock nav %}
