{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'references/style.css' %}">
{% endblock head %}

{% block nav %}
    <ul>
        <li><a href="{% url 'index' %}">Accueil</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'my_references' %}">Mes références</a></li>
        {% endif %}
    </ul>
    
    <hr>
    
    <ul>
        <li><a href="{% url 'publications_list' %}">Les publications enregistrées</a></li>
    </ul>
{% endblock nav %}
