{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'references/style.css' %}">
{% endblock head %}

{% block nav %}
    <ul>

        {% url 'index' as this_url %}
        <li><a class="nav-link {% if request.path == this_url %}nav-link--active{% endif %}" href="{{ this_url }}">
            Accueil
        </a></li>
        {% if user.is_authenticated %}

            {% url 'my_references' as this_url %}
            <li><a class="nav-link {% if request.path == this_url %}nav-link--active{% endif %}" href="{{ this_url }}">
                Mes références
            </a></li>

            {% url 'my_refs_graph' as this_url %}
            <li><a class="nav-link {% if request.path == this_url %}nav-link--active{% endif %}" href="{{ this_url }}">
                Mon graph
            </a></li>
        {% endif %}
    </ul>
    
    <hr>
    
    <ul>
        {% url 'publications_list' as this_url %}
        <li><a class="nav-link {% if request.path == this_url %}nav-link--active{% endif %}" href="{{ this_url }}">
            Les publications
        </a></li>
    </ul>

    <hr>
    
    <ul>
        {% url 'authors_list' as this_url %}
        <li><a class="nav-link {% if request.path == this_url %}nav-link--active{% endif %}" href="{{ this_url }}">
            Les auteurs
        </a></li>

        {% url 'authors_merge_select' as this_url %}
        <li><a class="nav-link {% if request.path == this_url %}nav-link--active{% endif %}" href="{{ this_url }}">
            Combiner des auteurs
        </a></li>

    </ul>
{% endblock nav %}
