{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'references/style.css' %}">
{% endblock head %}

{% block nav %}
    <ul>
        <li><a href="{% url 'index' %}">Accueil</a></li>
        <li><a href="{% url 'publications_list' %}">Publications</a></li>
    </ul>
{% endblock nav %}

{% block content %}
    <h1>{{ view.object.pk|yesno:"Modifier,Ajouter" }} une publication</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ view.object.pk|yesno:"Modifier,Ajouter" }}</button>
    </form>

    <a href="{% url 'publications_list' %}">Retour à la liste</a>
{% endblock %}