{% extends 'references/base.html' %}

{% block content %}
    <h1>Liste des références</h1>

    {% if publications %}
        <table>
            <thead>
                <tr>
                    {% if user.is_authenticated %}
                        <th scope="col">Action</th>
                    {% endif %}
                    <th scope="col">Titre</th>
                    <th scope="col">DOI</th>
                    <th scope="col">Date de publication</th>
                </tr>
            </thead>
            <tbody>
                {% for pub in publications %}
                    <tr>
                        {% if user.is_authenticated %}
                            <td>
                                {% if pub.id in user_pub_ids %}
                                    <a href="{% url 'remove_publication_from_my_refs' pub.pk %}">- Enlever</a>
                                {% else %}
                                    <a href="{% url 'add_publication_to_my_refs' pub.pk %}">+ Ajouter</a>
                                {% endif %}
                            </td>
                        {% endif %}
                        <td><a href="{% url 'publication_detail' pub.pk %}">{{ pub.title }}</a></td>
                        <td><a href="{% url 'publication_crossref' pub.pk %}" target="_blank">{{ pub.doi }}</a></td>
                        <td>{{ pub.publication_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Base de données vide.</p>
    {% endif %}
{% endblock content %}
