<!DOCTYPE html>
<html>
<head>
    <title>Gestionnaire de références</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block head %}{% endblock head %}
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
            <p>Bonjour {{ user.username }}</p>
            <a href="{% url 'logout' %}">Se déconnecter</a>
        {% else %}
            <a href="{% url 'login' %}">Se connecter</a>
        {% endif %}

        <hr>

        {% block nav %}{% endblock nav %}
    </nav>
    <div>
        {% block content %}{% endblock content %}
    </div>
    <div class="admin-side-panel">
        <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
    </div>

    {% if messages %}
        <div class="messages">
            <h2>Messages</h2>
            <ul>
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>
