/* | RESET | */

h1, h2{
    margin: 0;
}

/* | BASE | */

table{
    border: 1px solid;
    border-collapse: collapse;
}

th, td{
    border: 1px solid;
    padding: .2em .5em;
}

thead th{
    background-color: lightgray;
}

.messages{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1em;
    max-height: 30%;
    background-color: lightsteelblue;
    overflow-y: auto;
    padding: 1em;
}